.icon-paper
  background-color: #fbfbfb !important
  text-align: center !important

.icons-display
  flex-flow wrap
  display: flex

.icon-title
  color: #e8a4b5
  font-weight: 900
  padding-top: 30px

.one-icon-display
  display flex
  cursor: pointer
  margin: 30px
  svg
    width: 40px;
    height: 40px;
