//
//.paper
//  background-color: #f1fdff !important
//  text-align: center !important
//  overflow: auto !important
//  header
//    width: 100% !important
//
//.templete-appbar
//  background-color: #83a8e1 !important
//  overflow: auto !important
//.tab-content
//   text-align: center
//   overflow: auto !important
