
.paper
  background-color: #EAEDF7 !important
  text-align: center !important
  overflow: auto !important
  header
    width: 100% !important

.templete-appbar
  background-color: gray !important
  overflow: auto !important

.tab-content
  text-align: center
  overflow: auto !important
