
.paper
  background-color: #EAEDF7 !important
  text-align: center !important
  overflow: auto !important
  header
    width: 100% !important

.templete-appbar
  background-color: #a2c3de !important
  overflow: auto !important
  font-size: 20px
.tab-content
   text-align: center
   overflow: auto !important
   font-size: 15px
