.root
  flex-grow: 1
  margin-bottom: 0px
  //margin-top : 47px
  header
    padding-right: 0px

.appbar
  background-color:#374A56 !important
  & .toolbar
    background-color: inherit;
  & .home-icon
    margin-right: 8px

.grow
  flex-grow: 1

.titleColor
  color: white

.rightMenuButton
  button
    padding: 0px
    color: #fff

.rightMenu
  ul
    outline-style: none
    box-shadow: none
    border-color: transparent
    padding: 0px

.list
  border-right: 2px solid #87898E
  margin-top: 0px
  height: calc(100vh - 40px)
  width: 240px
  background-color:  #F0F1F7
  padding-left: 0px
  padding-right: 0px
  position: fixed
  overflow: scroll
